.HowItWorks {
  background-color: #f9f9f9;
  display: block;
  margin: 0 auto;
  font-style: italic;
  max-height: 100vh;
  margin-bottom: 260px;
}

.HowItWorks h1 {
  font-style: italic !important;
}

.HowItWorks p {
  display: block;
  margin: 0 auto;
  max-width: 32%;
  font-style: italic !important;
}

.eazy-go {
  color: #75bf7a;
}

.options {
  white-space: nowrap;
  font-style: italic;
}

.options span {
  display: inline-block;
}

.first-container {
  text-align: right;
}

.phone-icon {
  padding: 40px;
}

.first-svg,
.third-svg {
  display: flex;
  justify-content: flex-end;
}

.second-svg {
  padding-bottom: 45px;
}

.third-svg,
.fourth-svg {
  padding-top: 30px;
}

.first-container,
.second-container {
  width: 16%;
}

.post-a-ride {
  padding-bottom: 20px;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-color: #75bf7a;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
}

.dots {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
