@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #75bf7a;
    --secondary: #ffffff;
    --tertiary: #f9f9f9;
    --floor: #000000;
  }

  li,
  Link,
  a {
    @apply cursor-pointer;
  }
}

@font-face {
  font-family: 'graphik-light';
  src:
    local('graphik_light'),
    url('/fonts/graphik-light.ttf') format('truetype');
}

@font-face {
  font-family: 'graphik-medium';
  src:
    local('graphik-medium'),
    url('/fonts/graphik-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik-regular';
  src:
    local('graphik-regular'),
    url('/fonts/graphik-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik-bold';
  src:
    local('graphik-bold'),
    url('/fonts/graphik-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth !important;
  font-family: 'graphik-regular', Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--tertiary);
}

img,
video {
  max-width: 108%;
  height: auto;
}

h1 {
  line-height: 1.1 !important;
}

.hero-p {
  line-height: 1.6 !important;
}

.not-found {
  padding-top: 15vh;
}

.container-div {
 @apply w-full p-5
}

.section-title {
  @apply font-bold font-serif text-4xl leading-10 mb-4 p-0
}

.section-subtitle {
  @apply leading-6 font-extralight text-xl text-gray-600 mb-10
}

.cutline {
  @apply w-[6%] h-1 bg-slate-200
}

button,
[type='reset'],
[type='submit'] {
  background-image: none;
}
.top-navbar {
  @apply text-green-700 font-extrabold text-lg 
}